h1{
    color: blue;
    background-color: yellow;
    font-style: italic;
    border-radius: 250px;
    width: 550px;

}
h2{
    color: yellow;
    background-color: blue;
    border-radius: 200px;
    font-style: italic;
    width: 150px;
}
h4{
    color: rgb(14, 22, 240);
    background-color: rgb(255, 0, 21);
    border-radius: 200px;
    font-style: italic;
    width: 300px;
    height: 50px;
}